*{
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif !important;
    background-color: #fffdff;
}
h1,h2,h3,h4,h5,h6,a{
    margin:0;
  }

.c-homecontainer{
    
    font-family: 'Inter', sans-serif;
    margin: 0px 3% 0px 3%;
  
    width:80%;
    position: absolute;
    display: grid;
    grid-template-areas: "hometitle hometitle homebody";
    gap:2vw;
}

.c-hometitle{
    color:white;
    grid-area: hometitle;
    border-left: 2px solid #ADB5BD;
    font-size: 5vh;
    line-height: 9.5vh;
    display: flex;
    flex-direction: column-reverse;
}
.c-hometitle>h1{
    margin: 0px;
    padding-left: 1vw;
}

.c-hometitle>button{
    margin-left: 1vw;
    font-size: 2vh;
    width: 30vh;
    font-family: 'Inter',sans-serif;
}

.c-homebody{
    color:white;
    grid-area: homebody;
    font-weight: 300;
    display: flex;
    flex-direction: row-reverse;

}
.c-homebody-text{
    width: 20vw;
    display: flex;
    flex-direction: column-reverse;
    border-left: 2px solid #ADB5BD;
    border-right: 2px solid #ADB5BD;
    padding: 0vw 1vw 0vw 1vw;
}
.c-homebody-text>p{
    margin:0px;
    font-size: 2vh;
}

.c-aboutcontainer{
    margin-top: 3%;
}
.m-homecontainer{
    display: none;
}

c-homefooter{
    border: 2px solid #000;
}

.m-homecontainerfinal{
    display: none;
}

@media only screen and (max-width: 650px) {
    .c-homecontainerwrapper{
        display: none !important;
        
    }
    .navigationitemlist{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



    .m-homecontainerfinal{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: center;
        padding: 20px;
        color: #fffdff;
        /* margin-left: 50px; */
        /* border-left: 2px solid #343A40; */
    }

    .m-homecontainerfinalwrapper{
        height: 100svh;
        background-image: url("public/img/books.png");
        background-position: center;
        background-clip: content-box;
        background-size: cover;
    }
    
    .c-aboutcontainer{
    
    font-family: 'Inter', sans-serif;
    margin: 2% 3% 2% 3%;
    width:80%;
    position: absolute;
    display: grid;
    grid-template-areas: "abouttext abouttext aboutphoto aboutphoto aboutphoto";
    /* grid-template-columns: repeat(auto-fit,minmax(300px,700px)); */
    gap:2vw;
    overflow: auto;
}

  }
h1{
    font-size: 8vh !important;
    line-height: 9vh;
}
/* computer navbar styling */
nav {
    font-family: Inter,sans-serif;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 5vw;
    text-align: center;
    z-index: 100;
    background-color: #212529;
    font-size: 2vh;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
   }
   nav>img{
       margin-right: auto;
   }
   a {
     text-decoration: none;
     display: inline-block;
     text-align: center;
     color: #fff;
     font-weight: 400;
     padding: 1px 0;
     margin: 0 10px;
     transition: all 0.15s ease-in-out;
   }
   
   .hov-color-red:hover {
      color: #ff765a;
   }
   .hov-color-green:hover {
     color: #5aff8c;
   }
   .hov-color-blue:hover {
     color: #5acbff;
   }
   
   .wide {
     box-sizing: border-box;
     width: 100%;
     padding: 80px 60px 60px 60px;
     min-height: 100vh;
   }

   /* home button */
   .cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius:2em;
    border: none;
    background: linear-gradient(45deg, rgba(24,25,27,1) 10%, rgba(0,175,185,1) 100%);
    color: ghostwhite;
    overflow: hidden;
   }
   
   .cssbuttons-io svg {
    width: 1.2em;
    margin-right: 0.5em;
   }
   
   .cssbuttons-io a {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 0.8em 0.4em 0.8em;
   }

   .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 0.8em 0.4em 0.8em;
   }
   
   .cssbuttons-io::before,
   .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .cssbuttons-io::before {
    content: "";
    background: #343A40;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
   .cssbuttons-io:active {
    transform: scale(0.95);
   }
   

/* MEET TEACHER CSS */

.c-aboutcontainersection{
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-aboutcontainer{
    
    font-family: 'Inter', sans-serif;
    margin: 2% 3% 2% 3%;
    width:80%;
    position: absolute;
    display: grid;
    grid-template-areas: "abouttext aboutphoto";
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) !important;
    gap:2vw;
    overflow: auto;
}

.c-aboutcontainer-text{
    color:black;
    grid-area: abouttext;
    display: flex;
    justify-content: center;
}

.c-aboutcontainer-text>button{
    font-size: 2vh;
    width: 20vh;
    font-family: 'Inter',sans-serif;
}

.c-aboutcontainer-photo{
    color:black;
    grid-area: aboutphoto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* WHY DO PEOPLE LIKE CONCEPT CLASSES */
.wrapper{
    display: grid;
    grid-gap:20px;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

:root{
    --primary: #ddd;
    --dark:#333;
    --light:white;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.whycontainer{
    width: 80%;
    display: grid;
    grid-gap:20px;
    grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b'
        'top-box-a top-box-b';
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin: auto;
    margin-bottom: 6vh;
    /* translate: 10%; */
}

html {
    scroll-behavior: smooth;
  }


.contactformbuttons{
    display: flex;
    gap: 7px;
}
.showcase{
    grid-area: showcase;
    margin-top:3vh;
    /* min-height: 20vh; */
}
.showcase>h1{
    font-size: 7vh;
}

.top-box{

    display: grid;
    align-items: center;
    justify-content:left;
    overflow: hidden;
}

.top-box-a{
    grid-area:top-box-a;
    min-height: 60vh;
    height: 60vh;
}

.top-box-b{
    grid-area:top-box-b;
    font-size: 3vh;
    line-height: 4.5vh;
    font-weight: 600;
    text-align: start;
}

@media(max-width:700px) {
    .whycontainer{
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
    .top-box-b{
        font-weight: 300;
    }

    .contactcontainer{
            grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
            grid-auto-columns: 1fr;
            grid-auto-flow: row !important;
    }
    .contacttext{
        text-align: center;
    }
}

.contactcontainerwrapper{
    width: 100%;
    background: linear-gradient(135.19deg, #00494E 26.44%, #18191B 40.08%);
    margin: auto;
}

.contactcontainer{
    width: 80%;
    display: grid;
    grid-gap:50px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin: auto;
    margin-bottom: 12vh;
    margin-top: 12vh;
    align-items: center;
    justify-content:center;
}

.contacttext{
    justify-self: center;
    font-size: 7vh;
    line-height: 8vh;
    color: #fff;
}

.contactform{
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    color: #fff;
    font-size: 2.5vh;
    font-weight: 300;
}

.contactform>input{
    border:none;
    border-bottom: 1px solid #fff;
    background-color: #18191B;
    font-size: 2.5vh;
    color: #fff !important;
}
input:focus{
    border: 0px !important;
    outline: none!important;
    border-bottom: 1px solid #00AFB9!important;
}
/* RESULT CARDS */

.resultcontainer{
    width: 80%;
    display: grid;
    /* grid-gap:  20px; */
    grid-template-areas: 
        'resulttext'
        'resultcardcontainer';
    margin: auto;
    margin-bottom: 6vh;
}

.resulttext{
    grid-area:resulttext;
    text-align: center;
}
.resulttext>h1{
    font-size: 7vh;
}

.resultcardcontainer{
    grid-area:resultcardcontainer;
    width:100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) ;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-gap:0.1vw;
}
.resultcardcontainer>div{
    min-height: 400px;
    overflow: hidden;
    height: 60vh;
    border-radius: 25px;
}

.card{
    height: 400px;
    width: auto;
    margin: 30px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 26px;
    display: flex;
    flex-direction: column-reverse;
}

.card>div>h2{
    font-size: 2.5vh;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 500;
}

.card>div>p{
    margin-bottom: 5px;
    color: #CED4DA;
}

.card>div{
    padding:10px;
    background-color: #212529;
}

/* 
.card>img{
    height: 400px;
    width: 300px;
    transition: .5s; 
}

.intro{
    height: 120px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    bottom: 0px;
    background-color: #212529;
    color: #ffffff;
    transition: .5s;
}

.intro>h1{
    font-size: 2vh;
    font-weight: lighter;
    margin: 10px;
}

.intro>h2{
    font-size: 2.5vh;
    font-weight: 600;
    margin: 10px;
}

.intro>p{
    font-size: 2vh;
    margin: 10px;
}

.intro>h6{
    font-size: 2vh;
    font-weight: lighter;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
} */


.reviewcardcontainer{
    grid-area:resultcardcontainer;
    width:100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) ;
    align-items: center;
    justify-content: center;
    grid-gap:10px;
}
.reviewcardcontainer>div{
    min-height: 400px;
    overflow: hidden;
    height: 40vh;
    margin:10px;
    border-radius: 25px;
}

.videocard{
    height: 400px;
    box-shadow: 5px 5px 20px black;
    position: relative;
    overflow: hidden;
    border-radius: 26px;
}

.videocard>img{
    height: 200px;
    width: auto;
    top: 0px;
    border-radius: 26px 26px 0px 0px;
}

.vcintro{
    height: 210px;
    padding: 10px;
    top: 190px;
    position: absolute;
    background-color: #CED4DA;
    border-radius: 0px 0px 26px 26px;
}

.vcintro>p{
    font-size: 2vh;
    font-weight: 600;
}

.videoPlayer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.videoPlayer video{
    position: relative;
    max-width: 900px;
    outline: none;
}

.close{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 40px;
    right: 40px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

@media (max-width: 991px)
{
    .videoPlayer video{
        max-width: 90%;
    }
}

.bounce-in-right{-webkit-animation:bounce-in-right 1.5s ease-out both;animation:bounce-in-right 1.5s ease-out both}
@-webkit-keyframes bounce-in-right{0%{-webkit-transform:translateX(600px);transform:translateX(600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(68px);transform:translateX(68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(32px);transform:translateX(32px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(8px);transform:translateX(8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-right{0%{-webkit-transform:translateX(600px);transform:translateX(600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(68px);transform:translateX(68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(32px);transform:translateX(32px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(8px);transform:translateX(8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.footercontainer{
    margin-top: -30px;
    background-color: #18191B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    width: 80%;
    padding:20px;
    display: flex;
    color: #CED4DA;
    align-items: center;    
    justify-content: space-between;
}
.footerright>a{
    color: #CED4DA;
    font-weight: 300;
    margin: 0px !important;
}

@media(max-width:700px) {
    .footerend{
        display: none !important;
    }
}
@media(max-width:650px) {
   .countercontainer{
       flex-direction: column;
   } 
   .countercontainerline{
       border: 0px !important;
       margin: 30px 0px 30px 0px;
   }
}

::-webkit-scrollbar{
    height: 1px;
    width: 4px;
    background: gray;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}

.newreviewcardcontainer{
    width:100%;
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;*/
    gap: 1.5rem; 
    margin-top: 30px;
    justify-content: center;
    place-items: center;
    flex-wrap:wrap ;
}


.newvideointro{
    padding:10px;
    font-weight: 600;
    font-size: 2vh;
    height: 283px;
    display: flex;
    flex-direction: column;
}

.newvideocard{
    border-radius: 26px;
    background-color: #CED4DA;
    box-shadow: 5px 5px 20px black;
    width:380px;
    height: 500px;
    /* padding: .5rem; */
}

.newvideocardimage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;

}
.newvideocardimage>img{
    width: 100%;
    height: 217px;
    border-radius: 26px 26px 0px 0px;

}

.reviewimagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewimagecontainer>img{
    width: 100%;
}

@media(max-width:960px) {
    .reviewimagecontainer>img{
        width: 120%;
    }
}
@media(max-width:800px) {
    .reviewimagecontainer>img{
        width: 150%;
    }
}
@media(max-width:764px) {
    .reviewimagecontainer>img{
        width: 100%;
    }
}
@media(max-width:473px) {
    .reviewimagecontainer>img{
        width: 150%;
    }
}

.meetcontainer{
    width: 80%;
    display: grid;
    grid-gap:20px;
    grid-template-areas: 
        'top-box-b top-box-a';
    grid-auto-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr));; */
    grid-auto-flow: column;
    margin: auto;
    margin-bottom: 6vh;
    align-items: center;
    /* translate: 10%; */
}



.top-box2{

    display: grid;
    align-items: center;
    justify-content:left;
    overflow: hidden;
}

.top-box2-a{
    grid-area:top-box-a;
    margin: 20px;
    min-height: 60vh;
    height: 70vh;
    background-image: url("public/img/nisha.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-box2-b{
    grid-area:top-box-b;
    font-size: 3vh;
    line-height: 4.5vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-box2-b>h1{
    line-height: 7.5vh;
}
.top-box2-b>p{
    font-weight: 300;
    font-size: 2.5vh;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.card1{
    transition-delay: 200ms;
}

.card2{
    transition-delay: 300ms;
}

.videocard1{
    transition-delay: 200ms;
}

.videocard2{
    transition-delay: 300ms;
}


@media (max-width:600px) {
    .meetcontainer{
        grid-template-areas: 
        'top-box-a' 'top-box-b';
    }
    .top-box2-a{
        margin: 0px;
    }
}

@media screen and (max-width:452px) {
    .newvideocard{
        width:300px;
    }
}

@media screen and (max-width:355px) {
    .newvideocard{
        width:265px;
        height: 437px;
    }
    .newvideointro{
        height: 217px;
    }
    .newvideocardimage>img {
        width: unset;
    }
    .newvideocardimage{
        border-radius: 22px 22px 0px 0px;
        overflow:hidden;
    }
}

@media screen and (max-width:494px) {
    .resultcontainer1{
        width:unset;
    }
    .newvideocard{
        height:431px;
    }
    .newvideointro{
        height:215px;
    }
}
.text-focus-in{-webkit-animation:text-focus-in 1.5s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1.5s cubic-bezier(.55,.085,.68,.53) both}
@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.slide-in-left{-webkit-animation:slide-in-left .5s cubic-bezier(.215,.61,.355,1.000) both;animation:slide-in-left .5s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.slide-in-bottom{-webkit-animation:slide-in-bottom 1s both;animation:slide-in-bottom 1s both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.text-focus-in{-webkit-animation:text-focus-in .7s ease-out both;animation:text-focus-in .7s ease-out both}
.text-focus-in2{-webkit-animation:text-focus-in 1s ease-out both;animation:text-focus-in 1s ease-out both}

@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}};

::selection{
    background: rgba(23,162,184,0.3);
  }
  .wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }
  .wrapper .box i.quote{
    font-size: 20px;
    color: #17a2b8;
  }
  .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #17a2b8;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #17a2b8;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #17a2b8;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }
  @media (max-width: 1045px) {
    .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    .wrapper .box{
      width: 100%;
    }
  }